<div *ngIf="authService.user | async as user">
    <div id="profile-header">
        <img [src]="user.photoURL" id="profile-photo" class="horizontal-grid-item"> 
        <div id="display-name" class="horizontal-grid-item">{{user.displayName}}</div>
        <button mat-stroked-button id="sign-out-button" (click)="authService.signOut()">Sign Out</button>
    </div>
    <div id="profile-details">
        <h3>Favorite Book</h3>
        <p>{{user.favoriteBook}}</p>
        <h3>Current Book</h3>
        <p>{{user.currentBook}}</p>
    </div>
</div>